@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");

.container{

}

.header{
	padding: 30px;
	margin-bottom: 40px;
}

.logo, .navigation{
	vertical-align: middle;
}

.navigation{
	display: inline-block;
	padding: 10px 0 10px 0px;
    margin-left: 50px;
}

.nav-item{
	display: inline-block;
}

.nav-item a{
	padding: 10px;
	font-size: 22px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	color: #3D58A6;
}

.active a{
	color: #EE4036;
}

.banner{
	text-align: center;
	margin-bottom: 40px;
}

footer, section{
	margin: 0 100px;
}

.footer{
	padding: 40px 0;
}

.footer-ul{
	height: 30px;
}

.footer-item{
	display: inline-block;
	width: 50px;
	text-align: center;
}

.icon-line{
	width: 1px;
	height: 100%;
	display: inline-block;
	background-color: #363E97;
}

.facebook-icon{
	margin-right: 10px;
}

.youtube-icon{
	margin-left: 10px;
}